<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165494753120-0an9834o1e39ci7kmmhvp2pg862mv781.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165494753120-0an9834o1e39ci7kmmhvp2pg862mv781</string>
	<key>API_KEY</key>
	<string>AIzaSyBVByAmh-RwZAiSRDcCbvuGwh-mD6Vm50k</string>
	<key>GCM_SENDER_ID</key>
	<string>165494753120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.snakesladders</string>
	<key>PROJECT_ID</key>
	<string>snake-ladders-expert-ff</string>
	<key>STORAGE_BUCKET</key>
	<string>snake-ladders-expert-ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165494753120:ios:f5bbccd267889e695c4005</string>
</dict>
</plist>